<script lang="ts">
export default {
  data() {
    return {
      currentImage: 1,
      image1: "feeling_imgs\\angry.png",
      image2: "feeling_imgs\\cute.png",
      image3: "feeling_imgs\\excited.png",
      image4: "feeling_imgs\\pain.png",
      image5: "feeling_imgs\\shocked.png",
      image6: "feeling_imgs\\smile.png",
      ButtonStatus: "Angry",
    };
  },
  methods: {
    changeImage(num: number) {
      this.currentImage = num;
      switch (num) {
        case 1:
          this.ButtonStatus = "Angry";
          break;
        case 2:
          this.ButtonStatus = "Cute";
          break;
        case 3:
          this.ButtonStatus = "Excited";
          break;
        case 4:
          this.ButtonStatus = "Pain";
          break;
        case 5:
          this.ButtonStatus = "Shocked";
          break;
        case 6:
          this.ButtonStatus = "Smile";
          break;
      }
    },
  },
};
</script>
<template>
  <v-container
    ><div class="float-left">
      <img v-if="currentImage === 1" :src="image1" />
      <img v-if="currentImage === 2" :src="image2" />
      <img v-if="currentImage === 3" :src="image3" />
      <img v-if="currentImage === 4" :src="image4" />
      <img v-if="currentImage === 5" :src="image5" />
      <img v-if="currentImage === 6" :src="image6" />
    </div>
    <div class="float-center">
      <v-table>
        <v-row>
          <v-col>
            <h2 class="text-center">{{ ButtonStatus }}</h2>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(1)">ANGRY</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(2)">CUTE</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(3)">EXCITED</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(4)">PAIN</v-btn>
          </v-col>
        </v-row>

        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(5)">SHOCKED</v-btn>
          </v-col>
        </v-row>

        <v-row
          ><v-col>
            <v-btn class="mbutton" @click="changeImage(6)">SMILE</v-btn>
          </v-col>
        </v-row>
      </v-table>
    </div>
  </v-container>
</template>

<style scoped>
.mbutton {
  width: 600px;
  margin-left: 55px;
  border: 5px;
}
.mbutton:focus {
  background-color: yellow;
}

</style>
